body{
	background-color: black;
}

div{
	display: flex;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

img{
	width: 100%;
	height: 100%;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Portrait{
	margin-right: 8%;
	margin-left: 8%;
	margin-bottom: 8%;
}

button{
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 30px;
}

.imagenMid{
	margin: 2px;
	max-height: 150px;
 	max-width: 150px;
	width: 100%;
	height: 100%;
}

 .imagen2  .imagen4 .imagen1 .imagen5{
 	max-height: 100px;
 	max-width: 100px;
	width: 20%;
	height: 20%;
}